<html>
<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    
        <div class="chart" id="bargraph1">
    
    <script>
        var graphs = {{plot1 | safe}};
        Plotly.plot('bargraph1',graphs,{});
    </script>
</div>
        <div class="chart" id="linegraph">
    
    <script>
        var graphs = {{plot2 | safe}};
        Plotly.plot('linegraph',graphs,{});
    </script>
</div>
        <div class="chart" id="bargraph">
    
    <script>
        var graphs = {{plot3 | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

</body>
</html>
